body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

.feedback-form label {
  display: block;
  margin-bottom: 20px;
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 10px 14px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms ease-in-out, box-shadow 250ms ease-in-out;
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border: 1px solid #000;
}

.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 3px rgba(38, 132, 255, 0.3);
}

.feedback-form button {
  padding: 10px 24px;
  font-size: 16px;
  color: #fff;
  background-color: #3e68e0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.feedback-form button:hover {
  background-color: #4f7cff;
}

input::placeholder {
  color: transparent;
  transition: color 250ms ease-in-out;
}

input:focus::placeholder {
  color: #2e2f42;
}
